DATA/shapefiles/gadm/africa_adm2_combined.gpkg filter=lfs diff=lfs merge=lfs -text
DATA/raw/ml_dataset_monthly.parquet filter=lfs diff=lfs merge=lfs -text
DATA/shapefiles/gadm/africa_adm0_basemap.gpkg filter=lfs diff=lfs merge=lfs -text
